<div class="big-card__container">
	<div class="big-card__photo">
		<img
			src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8XrhLyS27VcGV-Y1mtslpqKFBQjMFwXJ-AnoYtXRcNmCuHf4jcjts2Ug&s"
			alt=""
			height="200px"
			srcset="">
	</div>
	<div class="big-card__title">
		<h1><a href="google.com/images">
			Titulo do Card
		</a></h1>
	</div>
	<div class="big-card__description">
		<p>
			<a href="">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque at illum veritatis natus
				quo assumenda ipsa alias ducimus deserunt reiciendis eveniet consequatur cum cupiditate recusandae
				et eum rem, dicta commodi!
			</a>
		</p>
	</div>
</div>
