<div class="big-card__container">
	<div class="big-card__photo">
		<img
			src= "https://www.hojeemdia.com.br/image/policy:1.698956.1628582715:1628582715/image.jpg?f=2x1&w=1200"
			alt=""
			height="200px"
			srcset="">
	</div>
	<div class="big-card__title">
		<h1><a href="google.com/images">
			Capitã Marvel salvaTony Stark
		</a></h1>
	</div>
	<div class="big-card__description">
		<p>
			<a href="">
				Capitã Marvel salva o famoso milionário Tony Stark, que estava perdido no espaço após a falha em seu traje.
			</a>
		</p>
	</div>
</div>
