@media screen and (min-width: 43.75rem) {
	.menu_title_container {
			color: white;
			text-align: center;
	}

	.menu_title_container > h1 {
			margin: 1rem 0;
			font-size: 9rem;
			font-weight: 900;
			display: flex;
			justify-content: center;
	}

	.menu_title_container > hr {
			margin: 1.25rem 0;
			width: 80%;
			border: 1px solid white;
	}
}
