.small-card__container{
	width: 500px;

}

.small-card__photo > img{
	width: 200px;
	min-width: 200px;
	margin-right: 20px;
	height: 200px;
}

.small-card__title{
	display: flex;
	justify-content: center;
	align-items: center;
}

.small-card-content__container{
	display: flex;
	flex-direction: row;
}

.small-card-separator__container{
	margin-top: 5px;
	margin-bottom: 10px;
}
