.container__content{
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	overflow: hidden;
}



.content__cover > img{
	margin-top: 10px;
	display: block;
	width: 90vw;
	height: auto;
	margin-left: 80px;
	margin-right: 80px;
	border-radius: 15px;
	border: 2px solid gray;
	object-fit: cover;
}

.content__title{
	margin-top: 10px;
}

.content__description{
	margin:20px;
	text-align: justify;
	column-count: 3;
	column-gap: 20px;


}