
<app-menu-title></app-menu-title>
	<div class="articles__container">
		<div class="article__manchet">
			<app-big-card 
				bigCardPhotoCover="https://www.hojeemdia.com.br/image/policy:1.698956.1628582715:1628582715/image.jpg?f=2x1&w=1200"
				bigCardCardTitle ="Capitã Marvel Salva Tony Stark"
				bigCardCardDescription="Capitã Marvel salva o famoso milionário Tony Stark, que estava perdido no espaço após a falha em nave que o trazia de volta a terra."
			></app-big-card>
		</div>
		<div class="article__other-articles">
			<app-small-card
			smallCradPhotoCover = "https://resizing.flixster.com/vvxrYm0PaP0jhHw3kYC9NNu9zrE=/206x305/v2/
			https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p185554_b_v8_bk.jpg"
			smallCradCardTitle = "Melhor Serie ja Lançada"
			></app-small-card>
			<app-small-card
				smallCradPhotoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7xD8UEGmIkH2sSxOH6C1DjiJ_J0rAMTBawQ&s"
				smallCradCardTitle="Tony Stark Nega Ter Sido Resgatado"
			></app-small-card>
		</div>
	</div>

