.menu-bar__container > ul{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu-bar__container > ul{
	margin-top: 1%;
	justify-content: center;
	list-style: none;
}

.menu-bar__container > ul > li{
	margin-left: 10px;
}
